PORT = 4000
SECRET = asdjadkjadjadakjdaj

DB_USER="sa"
DB_PWD="12345"
DB_NAME="SBO-ZETA"
DB_HOST="DESKTOP-QQNFM8U"
DB_PORT=1433
REDIS_URL = "redis://localhost:6379"
DO_PRINTING=true

ODOO_API = "http://localhost:8069/"
ODOO_USER = "admin"
ODOO_PASSWORD = "admin"